@page
@model Tellma.Identity.Areas.Identity.Pages.Account.AccessDeniedModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> L
@{
    ViewData["Title"] = L["AccessDenied"].Value;
}

<h1 class="tl-title">@L["AccessDenied"]</h1>
